server/node_modules
server/config/config.js
server/sslcert
server/public/assets/libs/


app/*.DS_Store

app/plugins/*
app/plugins\/*

app/platforms/*
app/platforms\/*

app/node_modules/*
app/node_modules\/*

app/hva-kijk.keystore
app/build.json