<div class="modal-container">
  <div class="modal-header">
    <p>Categories</p>
  </div>
   <div class="admin-view-header">
    <p>BESTAANDE CATEGORIEËN</p>
  </div>
  <div  ng-repeat="category in categories">
    <div class="admin-existing-cat" ng-click="editCategory(category)">
      <p><span class="dot" style="background-color:{{category.color}}"></span> {{category.label}} | edit</p>
    </div>
  </div>


<div class="admin-view-header">
    <p>VOEG NIEUWE CATEGORIE TOE</p>
  </div>
<form class="modal-form" role="form">
    <div class="form-group col-md-4">
       <label for="name">Naam</label>
       <input type="text" class="form-control" id="name" ng-model="newCategory.name">
    </div>
    <div class="form-group col-md-4">
       <label for="label">Label</label>
       <input type="text" class="form-control" id="label" ng-model="newCategory.label">
    </div>
    <div class="form-group col-md-4">
       <label for="color">Kleur</label>
        <input type="color" class="form-control" placeholder="#000000" id="color" ng-model="newCategory.color">
    </div>
  </form>
  <div class="col-md-12">
      <button type="submit" class="btn btn-default" ng-click="createCategory(newCategory)">Opslaan</button>
  </div>
</div>
