<md-toolbar>
  <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
    <md-button class="md-icon-button" aria-label="Menu" ng-click="return()">
      <md-icon md-svg-icon="assets/img/icons/back.svg"></md-icon>
    </md-button>
    <span flex>
      Informatie
    </span>
  </div>
</md-toolbar>
<md-content class="info" layout="column" layout-padding flex>
  <h3 class="md-no-margin-bot">Project informatie</h3>
  <p>
   
  </p>
  <md-divider></md-divider>

  <h3 class="md-no-margin-bot">Partners</h3>
  <p>
    De deelnemende organisaties aan ---Project--- zijn:
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </p>
  <md-divider></md-divider>

  <h3 class="md-no-margin-bot">Privacy</h3>
  <p>
    Op de dataverzameling en het gebruik van de app is de Wet Bescherming
    Persoonsgegevens van toepassing: Jij bent anoniem en wat je meet
    blijft ook anoniem. Jouw metingen worden opgeslagen in een beveiligde
    database. De gegevens worden niet voor commerciële doeleinden gebruikt.
  </p>
  <md-divider></md-divider>

  <h3 class="md-no-margin-bot">Kosten</h3>
  <p>
    Je mag de app gratis gebruiken. Hiervoor heb je wel een smartphone
    met databundel en een internet verbinding nodig. Dit brengt kosten
    met zich mee; deze zijn voor eigen rekening.
  </p>
  <md-divider></md-divider>

  <h3 class="md-no-margin-bot">Aansprakelijkheid</h3>
  <p>
    Je bent altijd zelf verantwoordelijk voor jouw activiteiten en je
    eigen gedrag tijdens het gebruik van de app.<br/><br/>
    Alle risico’s bij het downloaden, installatie, gebruik en bediening
    van de app liggen bij de deelnemer. De organisatie is niet aansprakelijk
    voor geleden schade in verband met het uitvallen van apparatuur als
    gevolg van bijvoorbeeld installatie of batterijverbruik door gebruik van de app.<br/><br/>
    De organisatie is niet aansprakelijk voor mogelijke problemen, gebreken
    of schade die ontstaan door of voortvloeien uit het gebruik van de app.<br/><br/>
    De organisatie is niet aansprakelijk voor beschadiging, verlies of diefstal van de smartphone.
  </p>
  <md-divider></md-divider>

  <h3 class="md-no-margin-bot">Fouten of gebreken in de app</h3>
  <p>
    Het is de bedoeling dat de app goed werkt. Mocht je echter fouten of
    gebreken opmerken, dan horen we dit graag! Via <a href="mailto:--emailadres--">--Emailadres--</a>
    kun je aangeven waar in de app volgens jou een fout of gebrek te vinden
    is. Je reactie zal door de organisatie van “Kijk! Een gezonde wijk!”
    worden bekeken en de app zal zo nodig worden aangepast.
  </p>
  <md-divider></md-divider>

  <h3 class="md-no-margin-bot">Meer informatie</h3>
  <p>
    Meer informatie over deze app en ons project kun je vinden op onze website:
    <a onClick="window.open('--website--','_system','location=yes');return false;">---website---</a>
  </p>

</md-content>
