<div class="modal-container firstVisit">
  <div class="modal-header">
    <h2>Doe mee aan de meetweek!</h2>
  </div>
  <p>Het project KIJK! Een gezonde wijk! daagt je uit om in de ‘meetweek’ van 19 t/m 25 november de gezondheid van Slotermeer te meten. Met een speciale mobiele app, ontwikkeld met bewoners van Slotermeer, kun je je mening geven over hoe gezond de wijk is ingericht en hoe gezond de mensen in jouw wijk zijn. </p>

  <p>Download de app en maak kans op een fiets en andere mooie prijzen!</p>
  <p class="downloadIcons">
    <a href="https://itunes.apple.com/us/app/kijk!-een-gezonde-wijk/id1152974393?ls=1&mt=8">
      <img alt="undefined" src="./assets/img/ios_appstore.png"/>
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.hva.kijk&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
      <img alt="undefined" src="./assets/img/google-play-badge.png" class="androidIcon"/>
    </a>
  </p>
  <p><a href="#/voorwaarden" ng-click="cancel()">Voorwaarden</a></p>
  </p>
</div>
