<md-dialog flex="90" class="dialog-wrapper">
  <form ng-cloak name="passwordForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Wachtwoord wijzigen</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="assets/img/icons/close.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Huidig wachtwoord:</label>
          <input type="password" autocomplete="off" ng-model="password.currentPassword" required>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Nieuw wachtwoord:</label>
          <input type="password" autocomplete="off" ng-model="password.newPassword" required>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Herhaal nieuw wachtwoord:</label>
          <input type="password" autocomplete="off" ng-model="password.confirmPassword" required>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised md-primary" ng-click="confirmEditPassword(password)">
        Opslaan
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
